.login__modal {
    position: relative; /* Adjusted to relative for the modal container */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_login {
    width: 420px; /* Default width for larger screens */
    background: #18191B;    
    border-radius: 10px;
    box-shadow: 0 12px 24px 0 rgba(62, 64, 83, .12), 0 3px 9px 0 rgba(0, 0, 0, .03);
}

@media only screen and (max-width: 800px) {
    .modal_login {
        min-width: 90% !important;
        min-height: 90% !important;
    }
}

.modal_sm_login {
    /* margin-top: 1500px; */
    width: calc(100vw - 300px);
    min-height: calc(100vh - 150px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid #303236;
    /* border: 2px solid red; */
}

@media only screen and (max-width: 800px) {
    .modal_sm_login {
        width: 90% !important;
    }
}

.modal_login_content {
    padding: 12px 18px;
    overflow: hidden;
    scrollbar-width: none;
    /* border: 2px solid red; */
}

@media only screen and (max-width: 800px) {
    .modal_login_content {
        padding: 12px 9px;
    }
}

.modal_login_content__inner {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 6px 12px;
    /* border: 2px solid blue; */
    height: 100%;
}

.activation_link {
    margin-top: 3rem;
    background-color: #3c3f44;
    border-radius: 8px;
    align-self: center;
    justify-self: center;
    padding: 1rem;
}

.login-h {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
}

@media only screen and (max-width: 800px) {
    .login-h {
        font-size: 21px;
    }
}

.create_header_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.login-p a {
    text-decoration: underline;
}

.login-p {
    font-size: 14px !important;
    font-weight: 400;
    margin: 2px 0 9px;
    color: hsla(180, 7%, 97%, .76) !important;
}

@media only screen and (max-width: 800px) {
    .login-p {
        font-size: 13px !important;
    }
}

.create_acc_link {
    color: #7373ea;
    font-weight: 500;
    text-decoration: none;
}

.create_acc_link_text {
    text-decoration: underline;
}

.create_acc_link_text:hover {
    color: #8383f2;
}

.login_components_outer_wrapper {
    min-height: 50px;
}

.google_button_inner_wrapper {
    height: 40px;
    width: 220px;
    background-color: #4285f4;
    cursor: pointer;
    border-radius: 5px;
}

.google_button_inner_wrapper:hover {
    background-color: #649df8;
    border-radius: 5px;
}

.google_button {
    display: flex;
    border: 1px solid transparent;
    height: 100%;
    width: 100%;
}

.google_button_icon_wrapper {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.google_button_icon_wrapper:hover {
    background: white;
}

.google_button_icon {
    width: 18px;
    height: 18px;
}

.google_button_text_wrapper {
    font-size: 16px;
    line-height: 48px;
    font-family: Roboto, arial, sans-serif;
    font-weight: 500;
    letter-spacing: .21px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
}

.google_button_not_signed {
    border: none;
}

.divider_login {
    padding: 24px 0;
    position: relative;
}

.divider_line {
    width: 100%;
    height: 1px;
    background: #3c3f44;
}

.divider_text {
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: hsla(180, 7%, 97%, .6);
    width: 100%;
    position: absolute;
    margin-top: -8px;
}

.divider_text span {
    background: #18181B;
    padding: 0 9px;
}


.login_button_wrapper {
    padding: 0;
    position: relative;
    display: flex;
}

.login_input {
    margin-bottom: 5px;
    /* border: 2px solid red; */
}

.login_button {
    width: 100%;
    height: 46px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600 !important;
    background: #5858e6 !important;
    border: 1px solid #5858e6;
    box-shadow: 0 1px 2px rgba(0,0,0,.07);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    transition: .24s ease-in-out;
    outline: none;
    padding: 3px 18px;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.login_button svg {
    margin-right: 10px;
}

.login_button:hover {
    background: #8383f2 !important;
}

.login_foot {
    margin: 5px 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
    gap: 9px;
    color: hsla(180, 7%, 97%, .7);
}

.login_foot a {
    color: #7373ea;
    font-weight: 500;
    text-decoration: none;
}

.login_input_field_wrapper {
    margin-bottom: 2rem;
    /* border: 2px solid red; */
}

.login_input_wrapper {
    position: relative;
    width: 100%; /* Match the width of your form */
    /* border: 2px solid pink; */
  }

.input_password_show {
    position: absolute;
    right: 0;
    top: -18%;
    /* color: #000; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
    width: 42px;
    cursor: pointer;
    transition: .2s ease-in-out;
    z-index: 99999;
}

.login_password_error {
    font-size: 12px;
    font-weight: 500;
    color: #EB5757;
    margin-bottom: 1rem;
    padding: 5px;
}

.register_license {
    display: block;
    font-size: 11px;
    font-weight: 400;
    width: 100%;
    color: hsla(180, 7%, 97%, .6);
    padding: 12px 0;
}

.register_license a {
    text-decoration: underline;
    color: #7373ea;
    font-weight: 500;
}

.register_license a:hover {
    color: #8383f2;
}
