.header_user_layout {
    display: flex;
    position: relative;
    flex-shrink: 0;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    max-width: 190px;
}

.header_user_layout:hover {
    background-color: #80808030;
}

.layout_header_user {
    display: flex;
    align-items: center;
    text-align: right;
    padding-left: 6px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 6px;
}

@media only screen and (max-width: 1024px) {
    .layout_header_user {
        flex-direction: row-reverse;
        padding-left: 0;
        margin-left: 0;
    }
}

.layout_credits {
    font-size: 12px;
    line-height: 100%;
    color: hsla(180, 7%, 97%, .6);
    width: 112px;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    gap: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /* border: 2px solid red; */
}

@media only screen and (max-width: 1024px) {
    .layout_credits {
        width: 145px;
    }
}

.layout_plan_name {
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 1024px) {
    .layout_plan_name {
        text-align: left;
        margin-left: 15px;
    }
}

.layout_credits_number {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
}

@media only screen and (max-width: 1024px) {
    .layout_credits_number {
        justify-content: flex-start;
        margin-left: 15px;
    }
}

.layout_header_user__y0W0A .layout_credits_number__Y7hOA span {
    color: #14a561;
}

.profile_avatar {
    font-size: 18px !important;
    text-align: center !important;
}

.profile_menu_invite {
    background: #5858e6
}

.profile_menu_invite:hover {
    background: #5858e6
}

.profile_menu_invite:hover {
    background: #5858e6
}

.profile_menu_item {
    font-size: 14px !important;
}

.socials_icons_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 8px;
    /* border: 2px solid red; */
}

.social_icon svg {
    height: 16px;
    width: 16px;
    /* border: 2px solid greenyellow; */
}

.socials_icon_dropdown:hover {
    /* border: 2px solid red; */
    background-color: transparent !important;
}